@font-face {
  font-family: "spantaran";
  src: url("./img/Spantaran.ttf");
}

body {
  background-color: #103863;
}

.outer {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.inner {
  display: flex;
  flex-direction: column;
}

p {
  font-size: 3rem;
  color: white;
  text-align: center;
  font-family: "spantaran";
}